body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  max-width: 600px;
  margin: 10px auto;
}

#name {
  text-align: center;
  padding-bottom: 10px;
  font-size: 24px;
}

#plan {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.heading {
  font-weight: bold;
}

.data {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.data:nth-child(even) {
  background-color: #f9f9f9;
}

.title {
  grid-column: span 4;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  #name {
    font-size: 20px;
  }

  .card {
    border-radius: 0;
    border: 1px solid #ddd;
    border-top: none;
  }
}

.grid.nocc {
  grid-template-columns: repeat(3, 1fr);
}

.data.nocc {
  text-align: center;
}
