/*
  Author: Zach Belong
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  height: 92vh;
  width: 100vw;
}
#visp {
  color: #152c4d;
}
#hsc {
  color: #b31414;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100vw;
}

#logo {
  height: 3em;
  width: 6em;
  margin-right: 5em;
}

#searchInput {
  width: 20em;
  background-color: #152c4d;
  color: white;
}

button {
  width: 10em;
}

select {
  background-color: #152c4d;
  color: white;
}

#searchInput,
button,
select {
  height: 3em;
  margin: 5px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
}

button#searchButton,
button#location {
  background-color: #152c4d;
  color: white;
  cursor: pointer;
}

label {
  font-family: Arial, sans-serif;
  color: #152c4d;
  display: flex;
  align-items: center;
  height: 3em;
  margin-left: 20px;
  text-align: center;
  font-size: 20px;
}

input[type="checkbox"] {
  margin-left: 1em;
  width: 1.5em;
  height: 3em;
}

#numTowers {
  width: 5em;
}

::placeholder {
  color: white;
}

@media (max-width: 768px) {
  #map {
    height: 100vh;
  }
  #logo {
    margin-bottom: 10px;
    margin-right: 0;
  }
  input[type="checkbox"] {
    width: 50%;
  }
  #searchInput,
  button,
  select {
    width: 100%;
  }
}
